/* M. Kaan Tasbas | mktasbas@gmail.com */
/* ./p1/style.css */

header.page-header {
	color: red;
}

h1 {
	font-size: 40px;
	text-align: center;
}

table {
	table-layout: fixed;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	border-collapse: collapse;
	border: 3px solid black;
}

caption {
	font-size: 30px;
	padding-bottom: 20px;
}

th.th-left {
	text-align: right;
}

th.th-right {
	text-align: left;
}

th.th-left, th.th-right {
	font-size: 25px;
}

thead th:nth-child(1) {
	width: 20%;
}

thead th:nth-child(2) {
	width: 50%;
}

tbody td {
	text-align: left;
}

tbody th {
	text-align: right;
}

tbody td, tbody th {
	font-size: 20px;
}

th, td {
	padding: 10px;
}

p {
	font-size: 20px;
}

span.interesting {
	font-weight: bold;
	color: green;
	background: yellow;
}

li {
	font-size: 20px;
}

div.container {
	display: flex;
}

div.left {
	width: 110px;
	height: 110px;
	padding-right: 0px;
}

div.right {
	width: 300px;
	height: 110px;
	line-height: 110px;
	padding-left:30px;
	
}